<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
    <title>Жанры</title>
    <block th:replace="fragments/toasts.html :: headerfiles"></block>
</head>
<body>
<div class="main-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Домашнаяя страница</a></li>
            <li class="breadcrumb-item active" aria-current="page">Жанры</li>
        </ol>
    </nav>
    <br/>
    <h1>Спискок жанров:</h1>
    </br>
    <div class="table-container mw-800">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Функции</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="genre : ${genres}">
                <th th:text="${genre.name}" scope="row"/>
                <td>
                    <form th:action="'/genres/' + ${genre.id} + '/delete'" method="post">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a th:href="'/genres/' + ${genre.id}" type="button" class="btn btn-outline-primary">Информация</a>
                            <a th:href="'/genres/' + ${genre.id} + '/editing'" type="button" class="btn btn-outline-primary">Изменить</a>
                            <button type="submit" class="rounded-end btn btn-outline-primary">Удалить</button>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" href="/genres/adding" role="button">Добавить жанр</a>
    </div>
</div>
<div th:replace="fragments/toasts.html :: toasts"> </div>
</body>
</html>
